<div class="jumbotron text-center">
    <h1> Rain height sensors &nbsp;<i class="fas fa-cloud-rain"></i> </h1><br>

    {{#each devices}}
      <div class="card card-body mb-2">
        <a href="/height/{{id}}" class="btn btn-dark btn-block mb-2">
          <h3 align="center">{{deviceId}} </h3>
        </a>
      </div>
    {{else}}
        <p>No devices found</p>
    {{/each}}


</div><br><br>
