<div class="jumbotron text-center">
  <h1> Wind intensity  &nbsp; <i class="fa fa-wind"></i> </h1>

  <div class="container">
    <canvas id="myChart" width="500" height="230"></canvas>
  </div><br>

  {{#each metrics}}
    <div class="card card-body mb-2">
      <p><b>Date:</b> {{formatDate date 'MMMM Do YYYY'}}  &nbsp; <b>Time:</b> {{formatDate date 'HH:mm:ss'}}</p>
      <h6 align="center">{{value}} m/s</h6>
    </div>
  {{else}}
      <p>No metrics found for the last hour</p>
  {{/each}}

  {{#if total}}
      <br>
      <a class="btn btn-secondary" href="/inttotal" role="button"> &nbsp; &nbsp; See everything &nbsp; &nbsp;</a>
  {{/if}}

</div><br><br><br>

<!-- to use chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js "></script>
<script src="/socket.io/socket.io.js"></script>

<script>

  const socket = io('/inteView');
  const ctx = document.getElementById('myChart').getContext('2d');

  const myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [],
          datasets: [{
              label: 'Wind intensity in m/s',
              data: [],
              backgroundColor: 'rgba(192, 57, 43, 0.1)',
              borderColor: 'rgba(207, 0, 15, 1)',
              borderWidth: 2
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });


  socket.on('intensityTele', function(data){
    data.forEach( tele => {
      myChart.data.datasets[0].data.push(parseInt(tele.value))
      myChart.data.labels.push(" ")
    });
    myChart.update();
  });

</script>
